a:link {
 text-decoration: none;

}

a:visited {
 text-decoration: none;
}

a:hover {
 text-decoration: underline;
}

.grey {
  color:rgb(56,56,56);
}


.right {
  float: right;
}

.upper {
  position: relative;
          bottom: 675px;
}

.emphasis {
  color:rgb(44,154,183);
}

div {

  width: 575px;
  padding: 25px 0px 0px 175px;
}

.banner {
  height: 14rem;
  color: white;
  background-color:rgb(44,154,183);
  font-family:Arial,serif;
  padding-left: 175px;
  padding-top: 1rem;
  font-size: 200%;
}

.standard {
  font-family:Arial,serif;
  line-height: 150%;
  color: rgb(56,56,56);
  font-size: 90%;
}

.pop {
  color:rgb(44,154,183);

  font-family: Arial,serif;
  font-weight: bold;
  line-height: 150%;

}

.subbanner {
  height: 4rem;
  background-color: Gainsboro;
  font-family:Arial,serif;
  padding-left: 175px;
  padding-top: 1rem;
  color: rgb(56,56,56);

}

.subtitle {
  font-size: 90%;
  color: white;
  font-style: italic;
  font-family:Arial,serif;
  font-weight: normal;
}

.standard {
  font-family:Arial,serif
}

.quote {
  font-family: Arial, serif;
  color:rgb(44,154,183);
  font-size: 125%;

}

.relative {
 position: relative;
 right: 40px;
 }

 footer {
   height: 20rem;
   color: white;
   background-color:rgb(56,56,56);
   font-family:Arial,serif;
   padding-left: 300px;
   padding-top: 5rem;

   text-align: center;
 }



 .profile {

  padding: 25px 0px 50px 175px;
}

.img1 {
  float: right;
}

.clearfix {
  overflow: auto;
}
